.container1{
    background-image: url('../images/03.jpg');
    background-size: cover;
    height: 80vh;
    background-position: center;
    color: #fadfdf;
    text-align: center;
    padding: 10px 20px;
}